<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />
    <link href="{{ url_for('static', filename='about_style.css') }}"  rel="stylesheet" />
    <title>О проекте</title>
</head>
<body>
    <ul class="menu-main">
      <li><a href="{{ url_for('basic_map') }}">Интерактивная карта</a></li>
      <li><a href="{{ url_for('basic_page') }}">Главная страница</a></li>
    </ul>
    <div class="about_class">
	<p>Обеспеченность районов различной социальной инфраструктурой является важным показателем качества жизни в городе.</p>
	<p><br></p>
	<p>Наш проект направлен на то, чтобы в доступной форме показать обеспеченность районов социальной инфраструктурой. Анализируются школы, детские сады и медицинские учреждения и жилые дома.
	Существует возможность выбора любого района или округа Москвы. Выбранные территории будут сравнены по количество социальных объектов выбранной категории в результаты будут представлены в цветом виде.
	Каждый район в отдельности разбивается на территории поменьше, путем наложения гексагональной сетки. Для каждой ячейки считается количество объектов социальной инфраструктуры или количества жителей и  ячейки раскрашиваются в цвета, что дает наглядной представление о количественной обеспеченности.
	Значимым элементов анализы является анализе пешей доступности, которые для Москвы определяется буферами доступности: от каждого объекта откладывается круг определенного радиуса и анализируются все объекты, которые в него попали.</p>
	<p><br></p>
	<p>На интерактивной карте можно увидеть 4 типа объектов по отдельности.
	Для жилых домов указано рассчитанное количество детей и взрослых, которые в нем проживают, указан год постройки(в зависимости от года постройки, дом так же помечается цветом), количество детских садов и медицинских учреждений, а также школ, которые попадают в радиус пешей доступности. Также указано наличие свободных школ в радиусе пешей доступности.
	Для школ указана номинальная вместимость учеников и фактическое количество, загруженность школы(так же школа раскаршивается в разные цвета, в зависимости от загрузки, что позволяет проще воспринимать данные) и рейтинг. Для школ можно построить радиус пешей доступности, которые покажет все жилые дома в данном радиусе и количество детей школьного возраста, которые на этой территории проживают.
	Для детских садов указана номинальная вместимость и рейтинг, а так же то, к какой школе они относятся. По аналогии со школой можно построить радиус пешей доступности.
	Для медицинских учреждений можно построить радиус пеше-транспортной доступности.
	Данные для каждого объекта можно редактировать, что позволяет моделировть снос старого дома и постройку на его месте нового по программе реновации, или же укрупнение школы.</p>
	<p><br></p>
	<p>Помимо интерактивной карты для выбранных районов можно посмотреть статистику, где будет указана площадь района, количество жителей и объектов социальной инфраструктуры, приведены количественные показатели обеспеченности пешей достпуности для разных типов объектов и соответсвие нормативынм показателям обеспеченности района местами в школах и детских садах</p>
    </div>
</body>
</html>