<!DOCTYPE html>
<html>
<head></head>
<body>
	<h1>BDS</h1>
        {{ iframe|safe }}
  <form method="post" action="/map_d/">
   <p><b>Выберите районы</b></p>
   <p><input type="checkbox" name="district1" value="relation/1255704">район Восточное Измайлово<Br>
   <input type="checkbox" name="district2" value="relation/1255680">район Северное Измайлово<Br>
   <input type="checkbox" name="district3" value="relation/1319245">район Измайлово<Br> 
   <input type="checkbox" name="district4" value="relation/1319263">район Ивановское<Br>
   <input type="checkbox" name="district5" value="relation/1319142">район Гольяново<Br>
   <input type="checkbox" name="region1" value="relation/226149">Западный административный округ<Br>
   <input type="checkbox" name="region2" value="relation/1320234">Восточный административный округ</p>
   <p><input type="submit" value="Получить данные"></p>
  </form>
</body>
</html>