attrs==22.2.0
beautifulsoup4==4.11.2
branca==0.6.0
bs4==0.0.1
certifi==2022.12.7
charset-normalizer==3.0.1
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
cykhash==2.0.1
Cython==0.29.33
et-xmlfile==1.1.0
Fiona==1.9.0
Flask==2.2.2
folium==0.14.0
geojson==3.0.1
geopandas==0.12.2
h3==3.7.6
idna==3.4
importlib-metadata==6.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
lxml==4.9.2
MarkupSafe==2.1.2
munch==2.5.0
numpy==1.24.2
openpyxl==3.1.2
osmium==3.6.0
packaging==23.0
pandas==1.5.3
pygeos==0.14
pyproj==3.4.1
pyrobuf==0.9.3
pyrosm==0.6.1
python-dateutil==2.8.2
python-rapidjson==1.9
pytz==2022.7.1
requests==2.28.2
shapely==2.0.1
six==1.16.0
soupsieve==2.3.2.post1
urllib3==1.26.14
Werkzeug==2.2.2
zipp==3.12.1
